<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Robert Sahakyan</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Sora:400,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body class="">
    <nav class="top-nav">
      <a href="#hero" class="logo">
        <span class="name-tag">ROBERT SAHAKYAN</span>
        <span class="nav-circle logo-circle">
          <svg width="13" height="13">
            <circle
              cx="6.5"
              cy="6.5"
              r="5"
              stroke="#a05d5d"
              stroke-width="1"
              fill="none"
            />
            <circle
              class="circle-fill"
              cx="6.5"
              cy="6.5"
              r="5"
              fill="#a05d5d"
              opacity="0"
            />
          </svg>
        </span>
      </a>
      <button class="hamburger" aria-label="Open menu">
        <span></span><span></span><span></span>
      </button>
      <div id="nav-links-wrapper">
        <ul>
          <li>
            <a href="#about">
              <span class="nav-circle">
                <svg width="13" height="13">
                  <circle
                    cx="6.5"
                    cy="6.5"
                    r="5"
                    stroke="#a05d5d"
                    stroke-width="1"
                    fill="none"
                  />
                  <circle
                    class="circle-fill"
                    cx="6.5"
                    cy="6.5"
                    r="5"
                    fill="#a05d5d"
                    opacity="0"
                  />
                </svg>
              </span>
              <span>ABOUT</span>
            </a>
          </li>
          <li>
            <a href="#skills">
              <span class="nav-circle">
                <svg width="13" height="13">
                  <circle
                    cx="6.5"
                    cy="6.5"
                    r="5"
                    stroke="#a05d5d"
                    stroke-width="1"
                    fill="none"
                  />
                  <circle
                    class="circle-fill"
                    cx="6.5"
                    cy="6.5"
                    r="5"
                    fill="#a05d5d"
                    opacity="0"
                  />
                </svg>
              </span>
              <span>SKILLS</span>
            </a>
          </li>
          <li>
            <a href="#projects">
              <span class="nav-circle">
                <svg width="13" height="13">
                  <circle
                    cx="6.5"
                    cy="6.5"
                    r="5"
                    stroke="#a05d5d"
                    stroke-width="1"
                    fill="none"
                  />
                  <circle
                    class="circle-fill"
                    cx="6.5"
                    cy="6.5"
                    r="5"
                    fill="#a05d5d"
                    opacity="0"
                  />
                </svg>
              </span>
              <span>PROJECTS</span>
            </a>
          </li>
          <li>
            <a href="#contact">
              <span class="nav-circle">
                <svg width="13" height="13">
                  <circle
                    cx="6.5"
                    cy="6.5"
                    r="5"
                    stroke="#a05d5d"
                    stroke-width="1"
                    fill="none"
                  />
                  <circle
                    class="circle-fill"
                    cx="6.5"
                    cy="6.5"
                    r="5"
                    fill="#a05d5d"
                    opacity="0"
                  />
                </svg>
              </span>
              <span>CONTACT</span>
            </a>
          </li>
          <li class="cv-format-link">
            <a href="/profile/cv/" target="_blank">CV FORMAT</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="mobile-menu">
      <ul>
        <li>
          <a href="#hero">
            <span>HELLO</span>
            <span class="nav-circle mobile-circle">
              <svg width="13" height="13">
                <circle
                  cx="6.5"
                  cy="6.5"
                  r="5"
                  stroke="#a05d5d"
                  stroke-width="1"
                  fill="none"
                />
                <circle
                  class="circle-fill"
                  cx="6.5"
                  cy="6.5"
                  r="5"
                  fill="#a05d5d"
                  opacity="0"
                />
              </svg>
            </span>
          </a>
        </li>
        <li>
          <a href="#about"
            ><span>ABOUT</span>
            <span class="nav-circle mobile-circle">
              <svg width="13" height="13">
                <circle
                  cx="6.5"
                  cy="6.5"
                  r="5"
                  stroke="#a05d5d"
                  stroke-width="1"
                  fill="none"
                />
                <circle
                  class="circle-fill"
                  cx="6.5"
                  cy="6.5"
                  r="5"
                  fill="#a05d5d"
                  opacity="0"
                />
              </svg> </span
          ></a>
        </li>
        <li>
          <a href="#skills">
            <span>SKILLS</span>
            <span class="nav-circle mobile-circle">
              <svg width="13" height="13">
                <circle
                  cx="6.5"
                  cy="6.5"
                  r="5"
                  stroke="#a05d5d"
                  stroke-width="1"
                  fill="none"
                />
                <circle
                  class="circle-fill"
                  cx="6.5"
                  cy="6.5"
                  r="5"
                  fill="#a05d5d"
                  opacity="0"
                />
              </svg>
            </span>
          </a>
        </li>
        <li>
          <a href="#projects"
            ><span>PROJECTS</span>
            <span class="nav-circle mobile-circle">
              <svg width="13" height="13">
                <circle
                  cx="6.5"
                  cy="6.5"
                  r="5"
                  stroke="#a05d5d"
                  stroke-width="1"
                  fill="none"
                />
                <circle
                  class="circle-fill"
                  cx="6.5"
                  cy="6.5"
                  r="5"
                  fill="#a05d5d"
                  opacity="0"
                />
              </svg> </span
          ></a>
        </li>
        <li>
          <a href="#contact"
            ><span>CONTACT</span>
            <span class="nav-circle mobile-circle">
              <svg width="13" height="13">
                <circle
                  cx="6.5"
                  cy="6.5"
                  r="5"
                  stroke="#a05d5d"
                  stroke-width="1"
                  fill="none"
                />
                <circle
                  class="circle-fill"
                  cx="6.5"
                  cy="6.5"
                  r="5"
                  fill="#a05d5d"
                  opacity="0"
                />
              </svg> </span
          ></a>
        </li>
      </ul>
    </div>
    <main class="main-layout">
      <section id="hero">
        {% include "sections/hero.html" %}
        <!-- This will be replaced with the content from src/sections/hero.html -->
      </section>

      <section id="about">
        {% include "sections/about.html" %}
        <!-- This will be replaced with the content from src/sections/about.html -->
      </section>

      <section id="skills">
        {% include "sections/skills.html" %}
        <!-- This will be replaced with the content from src/sections/skills.html -->
      </section>

      <section id="projects">
        {% include "sections/projects.html" %}
        <!-- This will be replaced with the content from src/sections/projects.html -->
      </section>

      <section id="contact">
        {% include "sections/contact.html" %}
        <!-- This will be replaced with the content from src/sections/contact.html -->
      </section>
    </main>

    <footer>
      <span class="footer-name">ROBERT SAHAKYAN · 2025</span>
      <div class="contact-icons">
        <a
          href="mailto:r.sahakayan1@gmail.com"
          class="contact-icon"
          aria-label="Email"
        >
          <i class="fa-regular fa-envelope"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/robert-sahakyan-5a7b87159/"
          class="contact-icon"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="LinkedIn"
        >
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a
          href="https://github.com/MemorySounds"
          class="contact-icon"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Github"
        >
          <i class="fa-brands fa-github"></i>
        </a>
      </div>
    </footer>

    <div id="custom-scrollbar">
      <div id="custom-scrollbar-thumb"></div>
    </div>

    <script type="module" src="scripts/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/gsap.min.js"></script>
  </body>
</html>
