@use 'variables' as *;

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $text-color;
}

.hero h1 {
    font-size: 6rem;
    line-height: 100px;
}

.hero p {
    font-size: 1.2rem;
    padding: 0 50px;
}

.hero {
  .cta-button {
    padding: 10px 20px;
    background-color: $primary-color;
    color: $text-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background-color: $secondary-color;
    }
  }

  .scroll-down-indicator {
    font-size: 2rem;
  }
}