@use "variables" as *;

.main-layout {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 5rem;
  box-sizing: border-box;

  section {
    &::after {
      content: "";
      display: block;
      position: relative;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 90%;
      border-bottom: 1px solid #000000;
    }
    &:last-child::after {
      border: none;
    }
  }
}

.section-content {
  h2 {
    font-size: 3rem;
  }
  padding: 6rem 0;
  text-align: justify;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cv-format-link {
  border: 0.5px solid $color;
  padding: 0.5rem;

  &:hover {
    background: $color;

    a {
      color: $text-color-light;
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-top: 1px solid black;
  background-color: $color;
  color: $text-color-light;
  gap: 0.2rem;
  font-size: 0.9rem;
  .contact-icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    a {
      color: $text-color-light;
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 1023px) {
  .main-layout {
    max-width: 100%;
    padding: 0 3rem;
  }
}

// Mobile styles
@media (max-width: 767px) {
  p {
    font-size: 16px;
  }
  .main-layout {
    padding: 0 2rem;
  }
  .section-content {
    flex-direction: column;
    padding: 4rem 0;
  }

  .section-content.hero {
    padding-top: 6rem;
  }

  h2 {
    font-size: 2.5rem !important;
    margin: 0;
  }

  footer {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    .contact-icons {
      order: 1;
      gap: 1rem;
      a {
        font-size: 1.2rem;
      }
    }
    .footer-name {
      order: 2;
    }
  }
}
