@use 'variables' as *;

nav {
  position: fixed;
  left: 0;
  padding: 1rem;
  width: 150px;
  z-index: 1;

  & ul { 
    display: flex;
    flex-direction: column;
  }

  & a {
    color: $nav-link-color; // Define this variable in _variables.scss
    text-decoration: none;
    margin: 0 1rem;
    transition: color 0.3s;

    &:hover {
      color: $nav-link-hover-color; // Define this variable in _variables.scss
    }
  }

  & .active {
    font-weight: bold;
    color: $nav-link-active-color; // Define this variable in _variables.scss
  }
}