@use "variables" as *;

html
/* CSS Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  background: transparent;
  scrollbar-width: none; // Firefox
  &::-webkit-scrollbar {
    display: none; // Chrome/Safari
  }
}

body.menu-open {
  overflow: hidden;
}

body {
  font-family: $font-family;
  line-height: 1.6;
  background-color: $background-color;
  color: black;

  // Noise effect on the body
  &::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    opacity: 0.8;
    mix-blend-mode: multiply;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='400' height='400'><filter id='noiseFilter'><feTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4' stitchTiles='stitch'/><feColorMatrix type='saturate' values='0'/></filter><rect width='100%' height='100%' filter='url(%23noiseFilter)'/></svg>");
    background-repeat: repeat;
    background-size: 400px 400px;
  }
}

h1 {
  font-size: 4rem;
}

h1,
h2 {
  font-weight: 400;
  color: $color;
}

button,
a {
  outline: none;
  box-shadow: none;
}

button:focus,
a:focus {
  outline: none;
  box-shadow: none;
}

#custom-scrollbar {
  position: fixed;
  top: 25vh; // 25% down the viewport
  right: 24px; // adjust as needed
  height: 50vh; // 75% - 25% = 50% of viewport height
  width: 4px;
  background: rgba(93, 49, 54, 0.08); // subtle track
  border-radius: 2px;
  z-index: 2000;
  pointer-events: none;
}

#custom-scrollbar-thumb {
  position: absolute;
  left: 0;
  width: 100%;
  height: 40px; // initial thumb height
  background: #5d3136;
  border-radius: 2px;
  opacity: 0.7;
  transition: background 0.2s;
}

.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem 1rem 4rem;
  font-size: 1rem;
  color: $color;
  border-top: 1px solid black;
  background: transparent;

  .footer-left {
    font-weight: 600;
    letter-spacing: 1px;
  }

  .footer-right {
    display: flex;
    gap: 2rem;

    .footer-icon {
      color: $color;
      font-size: 1.6rem;
      transition: color 0.2s;
      text-decoration: none;

      &:hover {
        color: #5d3136; // Accent color
      }
    }
  }
}
