// This file contains variables for colors, fonts, and other reusable values to maintain consistency across styles.

// Color variables
$primary-color: #5d3136;
// $background-color: #f7f7f7;
// $background-color: white;
$background-color: #f9ecdf;
$nav-background: rgb(255 218 181 / 15%);
$text-color: rgb(0, 0, 0);
$text-color-light: #f9ecdf;
$text-color-medium: #837c74;
$color: #5d3136;
$accent-color: #a05d5d;

// Navigation specific variables
$nav-background-color: #222831;
$nav-link-color: #ffffff;
$nav-link-hover-color: #d77480;
$nav-link-active-color: #9e565e;
$button-color: #000000;
$button-color-hover: #5d3136;

// Hero section variables (if needed for buttons, etc.)
$hero-background-color: $primary-color; // Example, adjust as needed

// Font variables
$font-family: "Sora", "Arial", sans-serif;
$font-size-base: 16px;
$font-size-large: 24px;
// $font-size-headings: 64px;
$font-size-small: 14px;
